// Import Bootstrap core
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

$primary: $green; // Set the $primary variable

// Merge with existing $theme-colors map
$theme-colors: map-merge($theme-colors, (
  "primary": $primary
));

// Add custom button animation for 'Evaluate'
@keyframes yellowSwipe {
  0% {
    background: linear-gradient(to right, gray 0%, yellow 0%, gray 100%);
    background-size: 200%;
  }
  100% {
    background: linear-gradient(to right, yellow 100%, yellow 100%);
    background-size: 200%;
  }
}

.btn-warning {
  &.btn-disabled {
    background: linear-gradient(to right, gray 0%, yellow 0%, gray 100%);
    background-size: 200%;
    animation: yellowSwipe 2m linear forwards;
    pointer-events: none; // Disable clicks during animation
  }
}

// Import Bootstrap components
@import "../../node_modules/bootstrap/scss/bootstrap";
