// Import Bootstrap core
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

$primary: $green; // Set the $primary variable

// Merge with existing $theme-colors map
$theme-colors: map-merge($theme-colors, (
  "primary": $primary
));

// Add custom button animation for 'Evaluate'
@keyframes progressAnim {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
.evaluation-progress {
  width: 0%;
  animation-name: progressAnim;
  animation-duration: 5s;
  animation-timing-function: linear;
}

// Import Bootstrap components
@import "../../node_modules/bootstrap/scss/bootstrap";
